@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oscar's Garbage Service</h1>
    <p class="lead">Manage your trash pick up days, and payment.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage your pickups</h2>
        <p>
            Create or manage your pick up schedule. You can also adjust for days you'd like off in the future.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create","PickUpDays")">&raquo;&raquo;&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pay your Bill</h2>
        <p>Pay your balance off here</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">&raquo;&raquo;&raquo;</a></p>
    </div>
@if ((User.IsInRole("Worker")) || (User.IsInRole("Admin")))
{

    <div class="col-md-4">
        <h2>Employee tool's</h2>
        <p>View your route and customers for the day.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "ZipChecks")">&raquo;&raquo;&raquo;</a></p>
    </div>
}
</div>